*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Figtree, Arial, Helvetica, sans-serif;
    font-weight:100;

}





body{
    height:100vh;
    background: linear-gradient(to bottom,black,#C80F2E);
}





#title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#title h1{
    font-size:40px;
    color:rgb(249,249,249);
    margin:30px;
}





#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    margin-top:300px;
    margin-bottom:30px;
    width:504px;
}





#search-wrapper{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
#search-bar input{
    padding-left:100px;
    padding-right:100px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
}





#player-cards{
    display:grid;
    gap:10px;
    height:35vh;
    overflow:auto;
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}
#player-cards::-webkit-scrollbar {
    display: none;
}





.card{
    border:1px solid rgb(249,249,249);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 450px;
    height: 80px;
    transition:background-color 0.3s ease-out, color 0.3s ease-out;
}
.card:hover,.card:active{
    background-color:#1D4289;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}





.name{
    color:rgb(249,249,249);
    font-size:30px;
}
.hide{
    display:none;
}